body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-image: url(img/background.png);
    background-size: cover;
    /*background-color: rgba(2, 168, 243, 0.2);*/
}

.image {
    width: 240px;
    height: 135px;
    position: absolute;
    background-color: black;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

#topImg {
    top: 20%;
    left: 50%;
    margin-top: -67.5px;
    margin-left: -120px;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.8);
    background-image: url(img/rm1.png)
}

#bottomImg {
    top: 70%;
    left: 50%;
    margin-top: -67.5px;
    margin-left: -120px;
    background-image: url(img/ar1.png)
}

#leftImg {
    top: 45%;
    left: 20%;
    margin-top: -67.5px;
    margin-left: -120px;
    background-image: url(img/bj1.png)
}

#rightImg {
    top: 45%;
    left: 80%;
    margin-top: -67.5px;
    margin-left: -120px;
    background-image: url(img/fr1.png)
}

.image:hover {
    box-shadow: 0px 0px 0px 5px rgba(2, 168, 243, 0.9);
    opacity: 0.9;
    cursor: pointer;
}

/* Control Panel */

#controlPanel {
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: -337px;
    bottom: -80px;
    width: 674px;
    height: 70px;
    background-color: white;
    padding: 5px 0;
    border-radius: 10px;
    transition: 0.3s;
}

#controlPanelMisc {
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: -337px;
    bottom: 5px;
    width: 674px;
    height: 70px;
    padding: 5px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.controlButton {
    width: 70px;
    height: 100%;
    display: inline-block;
    background-color: rgba(2, 168, 243, 1);
    border-radius: 10px;
    background-size: cover;
    transition: 0.3s;
}

.controlButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

#resetField {
    width: 70px;
    margin: 0 222px;
    background-color: rgba(2, 168, 243, 0);
}

/* Control buttons */

#thumbImg1 {
    background-image: url(img/img1.png);
}

#thumbImg2 {
    background-image: url(img/img2.png);
}

#thumbImg3 {
    background-image: url(img/img3.png);
}

#buttonLeft {
    background-image: url(img/left.svg);
}

#buttonRight {
    background-image: url(img/right.svg);
}

#buttonUp {
    background-image: url(img/up.svg);
}

#buttonDown {
    background-image: url(img/down.svg);
}

#buttonGrow {
    background-image: url(img/zoomIn.svg);
}

#buttonShrink {
    background-image: url(img/zoomOut.svg);
}

/* Misc buttons */

#buttonShow {
    background-image: url(img/show.svg);
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1);
}

#buttonHide {
    background-image: url(img/hide.svg);
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1);
}

#buttonReset {
    background-image: url(img/reset.svg);
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1);
}